<header class="px-6 py-8 border-b border-outline-variant bg-surface-container-lowest">
  <h1 class="<%= page_title_class %>"><%= title %></h1>
  <% if local_assigns[:subtitle].present? %>
    <p class="<%= page_subtitle_class %>"><%= subtitle %></p>
  <% end %>
</header>
