<!DOCTYPE html>
<html class="light" lang="en">
  <head>
    <%= render "layouts/head" %>
  </head>
  <body class="bg-surface text-on-surface font-body-md text-body-md min-h-screen">
    <%= yield %>
  </body>
</html>
