<!DOCTYPE html>
<html class="light" lang="en">
  <head>
    <%= render "layouts/head" %>
  </head>
  <body class="bg-background text-on-background font-body-md text-body-md h-screen w-screen flex items-center justify-center grid-pattern overflow-hidden">
    <%= yield %>
  </body>
</html>
